[submodule "submodules/shared-css"]
	path = submodules/shared-css
	url = git@github.com:pewtrusts/shared-css.git
[submodule "submodules/highcharts-regression"]
	path = submodules/highcharts-regression
	url = git@github.com:jostermanAtPEW/highcharts-regression.git
