[submodule "submodules/shared-css"]
	path = submodules/shared-css
	url = https://github.com/pewtrusts/shared-css.git
[submodule "submodules/highcharts-regression"]
	path = submodules/highcharts-regression
	url = https://github.com/pewtrusts/highcharts-regression.git
