/* default branded colors go here. define as many as wanted. number of colors
 * can be set as a config property passed to Highcharts and in chartBulder.*/
:root {
    --color-0: #296ec3;
    --color-1: #ff7f49; 
    --color-2: #5ac7be; 
    --color-3: #d85555; 
    --color-4: #229DC6; 
    --color-5: #f4c62e; 
    --color-6: #8062a1;
    --color-7: #E67CAE; 
    --color-8: #6d9953; 
    --color-9: #333333;
    --color-10: #727171; 
    --color-11: #b0b0b0; 
    --color-12: #e1e1e1; 
    --color-13: #f0f0f0;
    --color-14: #ebf4ff;
}

/* original defaults */
.default {
    --color-0: #296ec3;
    --color-1: #333333; /* use 6-digit notation for compat with setting values of input[type="color"] */
    --color-2: #229cc5; 
    --color-3: #5ac7be; 
    --color-4: #f47d4b; 
    --color-5: #d75555; 
    --color-6: #6d9953; 
    --color-7: #e57cae; 
    --color-8: #727171; 
    --color-9: #b0b0b0; 
    --color-10: #e1e1e1; 
    --color-11: #f0f0f0;
    --color-12: #ebf4ff;
    
}
/* define additional color palettes below as variables scoped to the
    corresponding classname. the classname will need to be added to the 
    the list of available color palettes */

.pew-blue {
    --color-0: #1f1e4f;
    --color-1: #1a3d84;
    --color-2: #296EC3;
    --color-3: #5d9ed5;
    --color-4: #89c3ea;
    --color-5: #bdddf5;
}
.gray {
    --color-0: #000000;
    --color-1: #333333;
    --color-2: #686666;
    --color-3: #8f8c8d;
    --color-4: #b6b1b1;
    --color-5: #d3d0d1;
}
.teal {
    --color-0: #002323;
    --color-1: #004b4a;
    --color-2: #117471;
    --color-3: #289d97;
    --color-4: #5ac7be;
    --color-5: #b6e0da;
}
.orange {
    --color-0: #391614;
    --color-1: #7c331c;
    --color-2: #cd572b;
    --color-3: #FF7F49;
    --color-4: #f9ad7f;
    --color-5: #fed8b4;
}
.blue {
    --color-0: #0f304a;
    --color-1: #155371;
    --color-2: #1c779b;
    --color-3: #279ec7;
    --color-4: #73c3df;
    --color-5: #bce6f7;
}
.turquoise {
    --color-0: #002139;
    --color-1: #074263;
    --color-2: #00729d;
    --color-3: #229DC6;
    --color-4: #7cceeb;
    --color-5: #bde6f5;
}
.red {
    --color-0: #3c1614;
    --color-1: #721115;
    --color-2: #ab3231;
    --color-3: #d85555;
    --color-4: #f1988c;
    --color-5: #fcd3c9;
}

.green {
    --color-0: #142719;
    --color-1: #2a4522;
    --color-2: #496d38;
    --color-3: #6d9953;
    --color-4: #a5c38e;
    --color-5: #d3e8c1;
}

.pink {
    --color-0: #40001f;
    --color-1: #732747;
    --color-2: #b3507e;
    --color-3: #E67CAE;
    --color-4: #edabcd;
    --color-5: #f5dbea;
}

.purple {
    --color-0: #311b42;
    --color-1: #53386d;
    --color-2: #8062a1;
    --color-3: #a38dc3;
    --color-4: #bbb3d8;
    --color-5: #d9d7ec;
}

.yellow {
    --color-0: #3b2200;
    --color-1: #69451c;
    --color-2: #956b2f;
    --color-3: #d19a26;
    --color-4: #f4c62e;
    --color-5: #ffe079;
}

@media (prefers-color-scheme: dark) {
    :root {
        --highcharts-background-color: rgb(255,255,255);
 /* Strong text. */
 --highcharts-neutral-color-100: #000000;

 /* Main text, axis labels and some strokes. */
 --highcharts-neutral-color-80: #333333;

 /* Axis title, connector fallback. */
 --highcharts-neutral-color-60: #666666;

 /* Credits text, export menu stroke. */
 --highcharts-neutral-color-40: #999999;

 /* Disabled texts, button strokes, crosshair etc. */
 --highcharts-neutral-color-20: #cccccc;

 /* Grid lines etc. */
 --highcharts-neutral-color-10: #e6e6e6;

 /* Minor grid lines etc. */
 --highcharts-neutral-color-5: #f2f2f2;

 /* Tooltip backgroud, button fills, map null points. */
 --highcharts-neutral-color-3: #f7f7f7;

 /*
 Highlights, shades of blue by default
 */

 /* Drilldown clickable labels, color axis max color. */
 --highcharts-highlight-color-100: #0022ff;

 /* Selection marker, menu hover, button hover, chart border, navigator
 series. */
 --highcharts-highlight-color-80: #334eff;

 /* Navigator mask fill. */
 --highcharts-highlight-color-60: #667aff;

 /* Ticks and axis line. */
 --highcharts-highlight-color-20: #ccd3ff;

 /* Pressed button, color axis min color. */
 --highcharts-highlight-color-10: #e6e9ff;
    }
}
