/* default branded colors go here. define as many as wanted. number of colors
 * can be set as a config property passed to Highcharts and in chartBulder.*/
:root {
    --color-0: #296ec3;
    --color-1: #333333; /* use 6-digit notation for compat with setting values of input[type="color"] */
    --color-2: #229cc5; 
    --color-3: #5ac7be; 
    --color-4: #f47d4b; 
    --color-5: #d75555; 
    --color-6: #6d9953; 
    --color-7: #e57cae; 
    --color-8: #727171; 
    --color-9: #b0b0b0; 
    --color-10: #e1e1e1; 
    --color-11: #f0f0f0;
    --color-12: #ebf4ff;
    
}
/* define additional color palettes below as variables scoped to the
    corresponding classname. the classname will need to be added to the 
    the list of available color palettes */

.pew-blue {
    --color-0: #153164;
    --color-1: #1f4e92;
    --color-2: #296ec2;
    --color-3: #5890d3;
    --color-4: #86b3e2;
    --color-5: #b5d5f2;
}
.gray {
    --color-0: #0b0a0a;
    --color-1: #313030;
    --color-2: #585555;
    --color-3: #7e7b7b;
    --color-4: #a5a0a0;
    --color-5: #cbc6c6;
}
.teal {
    --color-0: #0A4242;
    --color-1: #175C5C;
    --color-2: #297676;
    --color-3: #408F8F;
    --color-4: #5DA8A8;
    --color-5: #7EC2C2;
}
.orange {
    --color-0: #6b2514;
    --color-1: #a2482a;
    --color-2: #d96b40;
    --color-3: #f68f60;
    --color-4: #fab38a;
    --color-5: #fed7b4;
}
.blue {
    --color-0: #0f304a;
    --color-1: #155371;
    --color-2: #1c779b;
    --color-3: #279ec7;
    --color-4: #73c3df;
    --color-5: #bce6f7;
}
.red {
    --color-0: #4f1615;
    --color-1: #802d2c;
    --color-2: #b54545;
    --color-3: #de6b6a;
    --color-4: #eda09a;
    --color-5: #fcd1c7;
}

.green {
    --color-0: #1e2e17;
    --color-1: #39512b;
    --color-2: #557841;
    --color-3: #77a05d;
    --color-4: #a8c591;
    --color-5: #daebc7;
}

.pink {
    --color-0: #5f2339;
    --color-1: #883e5d;
    --color-2: #b35b82;
    --color-3: #e079aa;
    --color-4: #edabcc;
    --color-5: #f6ddeb;
}
