    .highcharts-container {
    height: auto;
  }
  .griffin-figure {
    position: relative;
    page-break-inside: avoid;
  }
  .griffin-figure {
    header, figcaption, p {
      color: #000;
    }
    .highcharts-legend-item text {
      fill: #000;
    }
    a {
      background: 0 0;
      color: #296ec3;
      text-decoration: none;
      -webkit-transition: color .28s cubic-bezier(.4,0,.2,1),color .28s cubic-bezier(.4,0,.2,1);
      transition: color .28s cubic-bezier(.4,0,.2,1),color .28s cubic-bezier(.4,0,.2,1);
    }
    a:hover {
      color: rgba(41,110,195,.7);
      text-decoration: underline;
    }
    .griffin-unpublished-link {
    position: absolute;
    top: 0;
    right: -130px;
    padding: 0 0.3em 0.1em;
    background-color: #767676;
    color: #fff;
    }
    .griffin-unpublished-link:hover, .griffin-unpublished-link:focus {
    color: #fff;
    font-weight: bold;
    }
}
.griffin-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 225px;
  left: 0;
}
img.fullscreen {
  display: none;
}
.griffin-download-btn {
  display: none;
}
.griffin-download-btn.mobile {
  display: inline;
}
@media screen and (min-width: 504px){
  img.fullscreen {
    display: inline;
  }
  img.mobile {
    display: none;
  }
  .griffin-download-btn.mobile {
    display: none;
  }
  .griffin-download-btn {
    display: inline
  }
}
.griffin-figure figcaption p:first-child {
  margin-top: 0;
}

.hc-container {
  overflow-y: hidden;
  margin-top: 1rem; 
}
.highcharts-container.griffin {
  font-family: lato;
  font-size: 13.3333px;
  line-height: 1.2;
  
  .highcharts-axis-labels {
    font-size: 1em;
    fill: #000;
  }
  .highcharts-axis-title{
    fill: #000;
  }
  .highcharts-data-label-connector {
    fill: none;
  }
  .highcharts-plot-band-label, .highcharts-plot-line-label {
      fill: #000;
      color: #000;
  }

  .highcharts-tracker-line {
        display: none;

        @media screen {
            display: block;
        }
    }

    .highcharts-graph {
        stroke-width: var(--stroke-width);
    }
    .highcharts-legend-item .highcharts-point {
        transform: translate(0,1px);
        stroke: none;
    }
    // .highcharts-legend-item.highcharts-line-series .highcharts-graph {
    //     stroke-width: 16px;
    //     stroke-linecap: butt;
    //     transform: translate(0,-2px);
    // }
    .highcharts-legend-item.highcharts-line-series path.highcharts-point {
      display: none;
  }
        .highcharts-legend-item text {
        font-weight: normal;
        // font-size: 1em;
    }
    .highcharts-annotation-label  {
        &:not(.highcharts-color){
          fill: #000;
        }
        text {
          fill: inherit;
          // font-size: 1em;
        }
    }
    .highcharts-annotation-label-box {
      stroke: #666;
    }

    .highcharts-plot-line {
        stroke-dasharray: 6;
        stroke: var(--color-1);
    }

    span.highcharts-plot-line-label {
        width: 265px;
        white-space: normal !important;
    }
      .highcharts-tooltip {
        filter: none;
        text {
            transform: translateY(-2px);
            // font-size: 1em;
        }
        .highcharts-header {
            font-size: .75em;
            fill: #767676;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
      .highcharts-tooltip-box {
          fill: #fff;
          fill-opacity: 1;
          stroke-width: 2.5px;
          stroke-linecap: round;
      }
    .highcharts-markers {
      display: none;
    }
    .highcharts-markers.highcharts-scatter-series {
      display: inline;
    }
    
    .highcharts-markers path {
      fill: #fff;
      stroke-width: 3px
    }
    &.scatter .highcharts-yaxis .highcharts-axis-line {
        stroke-width: 1;
    }
    &.scatter .highcharts-grid {
        display: none;
    }
  }

  .pie .highcharts-axis {
    display: none;
  }

  .picture-container {
    overflow: hidden;
    position: relative;
  }
  
  .griffin-download-btn {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 0;
    background: none;
    color: #296ec3;
    padding: 0 0 0 0.2em;
    margin: 0;
    &::before {
      content: ' | ';
      color: #767676;
    }
    .image-export & {
      display: none;
    }
  }
  .griffin-container + .griffin-container {
    margin-top: 2rem;
  }
  .griffin-outer-container--grid {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    .griffin-container + .griffin-container {
      margin-top: 0;
    }
  }
  .griffin-outer-container--2-up {
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  }
  .griffin-outer-container--3-up {
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  }
  .griffin-outer-container--4-up {
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  }
  .griffin-outer-container--5-up {
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
  }
  .griffin-outer-container--6-up {
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  }

.pie {
  .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
  opacity: 1;
}

}
.highcharts-container.griffin .highcharts-data-label {
  font-size: 1rem;
}

// resets for highcharts 11
.highcharts-axis-title, .highcharts-legend-item > text, .highcharts-tooltip text, 
div.highcharts-tooltip, .highcharts-annotation-label text {
  font-size: 1em;
}

// div.highcharts-tooltip {
//   font-size: 1.2em !important;
// }

.highcharts-root text, .highcharts-tooltip * {
  font-family: 'Lato';
}

.highcharts-map-series .highcharts-null-point {
  fill: #c7c7c7;
}

.highcharts-column-series path.highcharts-point, .highcharts-bar-series path.highcharts-point  {
  stroke: unset;
}

.highcharts-data-label.datapoint--upward text {
  text-anchor: middle;
}
.highcharts-data-label.datapoint--dip text {
  transform: translate(0px, 2.1em)
}
.highcharts-data-label text {
  text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}

@media print {
  .highcharts-container:not(.data-label-inside) .highcharts-data-label text {
    -webkit-filter: drop-shadow(1px 1px 0.1px #fff) drop-shadow(1px -1px 0.1px #fff) drop-shadow(-1px 1px 0.1px #fff) drop-shadow(-1px -1px 0.1px #fff);;
  }
  figcaption a {
    color: inherit;
}
  .griffin-figure .griffin-download-btn {
  display: none;
}
}
.highcharts-data-label text, text.highcharts-data-label {
  fill: inherit;
  font-size: .85em;
}
  .data-label-inside .highcharts-data-label text {
    text-shadow: none;
    fill: #ffffff;
  }
.highcharts-grid-line, .highcharts-axis-line {
  stroke: #a7a7a7;
  
}
.last-label-only .highcharts-data-label:not(.last-datalabel){
  visibility: hidden;
} 
.last-label-only .highcharts-data-label:last-child {
  visibility: visible;
}
.scatter .highcharts-container.griffin .highcharts-markers {
      display: inline;
  }
.scatter .highcharts-yaxis .highcharts-tick, .scatter .highcharts-xaxis .highcharts-tick {
  stroke-width: 1;
  stroke: #a9a9a9;
}
.lazy-load--ready {
  .picture-container {
    background-color: #f0f0f0;
    picture {
      visibility: hidden;
    }
  } 
}
.griffin-image {
  width: 100%;
}
.chart-viewer-body {
  margin: auto var(--column-margin-inline, 16px);
}

// map resets

.highcharts-legend-box {
  fill: rgba(255, 255, 255, 0.85)
}

g.highcharts-series.highcharts-map-series {
  filter: 
      drop-shadow(-1px -1px 0px white) 
      drop-shadow(-1px -1px 3px white) 
      drop-shadow(1px 3px 0px #ccc);
}

.html-tooltip {
  padding: 6px;
  background-color: #f7f7f7;
  font-size: 12.8px;
}

.tilemap {
  .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover), .highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover), .highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover), .highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
    opacity: inherit;
  }
}

.highcharts-tilemap-series .datalabel {
  font-size: 1.4em;
  font-weight: 400;
}

.highcharts-heatmap-series .highcharts-point, .highcharts-tilemap-series .highcharts-point {
  stroke: #fff;
}

.highcharts-tilemap-series .highcharts-data-label text {
  text-shadow: none;
}

g.highcharts-series.highcharts-tilemap-series {
  filter: drop-shadow(-1px -1px 0px white) drop-shadow(1px 1px 3px white) drop-shadow(-1px -2px 0px #ccc);
}

.highcharts-container.griffin .map-label .highcharts-annotation-label-box {
  fill: white;
  stroke: white;
}

/* this likely doesn't need to be more specific since it only applies to styledMode: false charts */
// g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
//   stroke-width: 0;
// }


@media screen and (max-width: 500px) {
  .highcharts-heatmap-series .highcharts-point, .highcharts-tilemap-series .highcharts-point {
    stroke-width: 0;
  }
    .mobile-hide {
    display: none;
  }
  .highcharts-tilemap-series .datalabel {
    font-size: 1em;
  }
}
