.highcharts-container.griffin.griffin--for-print {
	font-family: 'lato';
	font-size: 17.778px; /* scales to 10pt in print */
	font-size: 13.3px;
}
.highcharts-container.griffin.griffin--for-print .highcharts-axis-labels  {
	font-size: inherit;
	fill:#000;
}
.highcharts-container.griffin.griffin--for-print .highcharts-axis-title {
	font-size: inherit;

}
.highcharts-container.griffin.griffin--for-print .highcharts-legend text {
    font-weight: normal;
    font-size: inherit;
	fill: #000;
}