

.philly-dashboard.ai2html-griffin-figure {
    .highcharts-graph {
        stroke-width: 6px;
    }  
    .highcharts-markers {
        display: inline;
    } 
    .highcharts-axis-labels, .highcharts-legend-item > text, .highcharts-axis-title {
        font-size: 1.2em;
        font-size: clamp(1rem, 1.939vw, 1.2rem);
        @media screen and (max-width: 416px) {
            font-size: 1rem;
            font-size: clamp(1rem, 1.939vw, 1.2rem);
        }
    }
    .highcharts-legend-item.highcharts-line-series .highcharts-graph {
        stroke-width: 16px;
    }
    header h1 {
        font-size: 1.5rem;
        font-size: clamp(1.1rem, 2.424vw, 1.5rem);
        @media screen and (max-width: 416px) {
            font-size: 1.1rem;
            font-size: clamp(1.1rem, 2.424vw, 1.5rem);
        }
    }
    .figure-dek {
        font-size: 1.28rem;
        font-size: clamp(1.1rem, 2.069vw, 1.28rem);
        @media screen and (max-width: 416px) {
            font-size: 1.1rem;
            font-size: clamp(1.1rem, 2.069vw, 1.28rem);
        }

    }
    .figure-caption {
        font-weight: 600;
        font-size: 1.15rem;
        font-size: clamp(1rem, 2.332vw, 1.15rem); 
        @media screen and (max-width: 686px){
            font-size: 1rem;
            font-size: clamp(1rem, 2.332vw, 1.15rem); 
        }
        
    }
    .figure-note  {
        font-size: 1rem;
        font-size: clamp(0.8rem, 1.616vw, 1rem);
        @media screen and (max-width: 416px) {
            font-size: 0.8rem;
            font-size: clamp(0.8rem, 1.616vw, 1rem);
        }
        
    }
    .hc-container {
        margin-top: 2rem;
    }
}
/* temp fix */
.griffin-chart-builder--mobile.philly-dashboard.ai2html-griffin-figure {
    header h1, .figure-dek {
        font-size: 1.1rem;
    }
    
    .figure-caption {
        font-size: 1rem;
    }
    .highcharts-container.griffin .highcharts-axis-labels, .highcharts-legend-item > text, .highcharts-axis-title {
        font-size: 1rem;
    }
}
.highcharts-container.griffin.salmonella {
    .highcharts-series-inactive {
        opacity: 1;
    }
}