.highcharts-container.griffin {
    .dashed {
        stroke-dasharray: 6;
    }
    .dotted {
        stroke-dasharray: 0.5 8;
    }
    .nostroke {
        stroke: none;
    }
    .thin .highcharts-graph {
        stroke-width: calc(var(--stroke-width) / 4);
    }

    .highcharts-legend-item.dashed {
     .highcharts-graph {
        stroke-width: var(--stroke-width);
        stroke-linecap: round;
    }
    &.thin .highcharts-graph {
        stroke-width: calc(var(--stroke-width) / 4);
    }
    }

    .highcharts-legend-item.dotted .highcharts-graph {
        stroke-width: var(--stroke-width);
        stroke-linecap: round;
    }
    
    & .dashed, & .dotted {
        .highcharts-point {
         display: none;
    }
    }
}