@font-face{
	font-family:'Lato';
	src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Heavy.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Heavy.woff") format("woff");
	font-weight:900;
	font-style:normal
}
@font-face{
	font-family:'Lato';
	src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-HeavyItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-HeavyItalic.woff") format("woff");
	font-weight:900;
	font-style:italic
}