.griffin-figure {
  position: relative;
}
.griffin-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 66%;
  left: 0;
}
picture.fullscreen {
  display: none;
}
@media screen and (min-width: 504px){
  picture.fullscreen {
    display: inline;
  }
  picture.mobile {
    display: none;
  }
}
.griffin-figure figcaption p:first-child {
  margin-top: 0;
}

.hc-container {
  overflow-y: hidden;
  margin-top: 1rem; 
}
.highcharts-container.griffin {
  font-family: lato;
  font-size: 13.3333px;
  line-height: 1.2;
  
  .highcharts-axis-labels {
    font-size: 1em;
  }
  .highcharts-data-label-connector {
    fill: none;
  }
  .highcharts-plot-band-label, .highcharts-plot-line-label {
      fill: #666;
      color: #666;
  }
  .highcharts-tracker-line {
        display: none;

        @media screen {
            display: block;
        }
    }

    .highcharts-graph {
        stroke-width: var(--stroke-width);
    }
    .highcharts-legend-item .highcharts-point {
        transform: translate(0,1px);
        stroke: none;
    }
    .highcharts-legend-item.highcharts-line-series .highcharts-graph {
        stroke-width: 16px;
        stroke-linecap: butt;
        transform: translate(0,-2px);
    }
        .highcharts-legend-item text {
        fill: #666;
        font-weight: normal;
    }
    .highcharts-annotation-label  {
        &:not(.highcharts-color){
          fill: #666;
        }
        text {
          fill: inherit;
        }
    }
    .highcharts-annotation-label-box {
      stroke: #666;
    }

    .highcharts-plot-line {
        stroke-dasharray: 6;
        stroke: var(--color-1);
    }

    span.highcharts-plot-line-label {
        width: 265px;
        white-space: normal !important;
    }
      .highcharts-tooltip {
        filter: none;
        text {
            transform: translateY(-2px);
        }
        .highcharts-header {
            font-size: .75em;
            fill: #767676;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
      .highcharts-tooltip-box {
          fill: #fff;
          fill-opacity: 1;
          stroke-width: 2.5px;
          stroke-linecap: round;
      }
    .highcharts-markers {
      display: none;
    }
    
    .highcharts-markers path {
      fill: #fff;
      stroke-width: 3px
    }
  }

  .pie .highcharts-axis {
    display: none;
  }

  .picture-container {
    overflow: hidden;
    position: relative;
  }
  
  .griffin-download-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 0;
    background: none;
    color: #296ec3;
    padding: 0 0 0 0.2em;
    margin: 0;
    &::before {
      content: ' | ';
      color: #767676;
    }
    .image-export & {
      display: none;
    }
  }
  .griffin-container + .griffin-container {
    margin-top: 2rem;
  }
  .griffin-outer-container--grid {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    .griffin-container + .griffin-container {
      margin-top: 0;
    }
  }
  .griffin-outer-container--2-up {
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  }
  .griffin-outer-container--3-up {
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  }
  .griffin-outer-container--4-up {
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  }
  .griffin-outer-container--5-up {
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
  }
  .griffin-outer-container--6-up {
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  }

.pie {
  .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
  opacity: 1;
}

}
.highcharts-container.griffin .highcharts-data-label {
  font-size: 1rem;
}

.highcharts-data-label.datapoint--upward text {
  text-anchor: middle;
}
.highcharts-data-label.datapoint--dip text {
  transform: translate(0px, 2.1em)
}
.highcharts-data-label text {
  text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}
.highcharts-data-label text, text.highcharts-data-label {
  fill: inherit;
}
.highcharts-grid-line {
  stroke: #000;
  stroke-opacity: 35%;
}
.last-label-only .highcharts-data-label:not(.last-datalabel){
  visibility: hidden;
} 
.scatter .highcharts-container.griffin .highcharts-markers {
      display: inline;
  }

.lazy-load--ready {
  .picture-container {
    background-color: #f0f0f0;
    picture {
      visibility: hidden;
    }
  } 
}