/* if we explicitly set datalabels inside, text shadow is none */
.data-labels-inside .highcharts-data-label text {
  text-shadow: none;
  fill: #fff
}

g.highcharts-data-labels.dl-black text {
  fill: #000 !important;
  text-shadow: none;
}

g.highcharts-data-labels.dl-white text {
  fill: #fff !important;
  text-shadow: none;
}

.column .highcharts-data-label, .bar .highcharts-data-label  {
  fill: #000;
}

/* fallback colors are duplicative of highcharts.css v8 */ 
.swatch.highcharts-color-0 {
  background-color: var(--color-0, #7cb5ec);
}
.highcharts-color-0, .dl-series g.highcharts-data-label-color-0 text {
  fill: var(--color-0, #7cb5ec);
  stroke: var(--color-0, #7cb5ec);
}

.swatch.highcharts-color-1 {
  background-color: var(--color-1, #434348);
}
.highcharts-color-1, .dl-series g.highcharts-data-label-color-1 text {
  fill: var(--color-1, #434348);
  stroke: var(--color-1, #434348);
}

.swatch.highcharts-color-2 {
  background-color: var(--color-2, #90ed7d);
}
.highcharts-color-2, .dl-series g.highcharts-data-label-color-2 text {
  fill: var(--color-2, #90ed7d);
  stroke: var(--color-2, #90ed7d);
}

.swatch.highcharts-color-3 {
  background-color: var(--color-3, #f7a35c);
}
.highcharts-color-3, .dl-series g.highcharts-data-label-color-3 text {
  fill: var(--color-3, #f7a35c);
  stroke: var(--color-3, #f7a35c);
}

.swatch.highcharts-color-4 {
  background-color: var(--color-4, #8085e9);
}
.highcharts-color-4, .dl-series g.highcharts-data-label-color-4 text {
  fill: var(--color-4, #8085e9);
  stroke: var(--color-4, #8085e9);
}

.swatch.highcharts-color-5 {
  background-color: var(--color-5, #f15c80);
}
/* has to be a little stronger than the override to black for datalabels inside */
.highcharts-color-5, .dl-series g.highcharts-data-label-color-5 text {
  fill: var(--color-5, #f15c80);
  stroke: var(--color-5, #f15c80);
}

.swatch.highcharts-color-6 {
  background-color: var(--color-6, #e4d354);
}
.highcharts-color-6, .dl-series g.highcharts-data-label-color-6 text {
  fill: var(--color-6, #e4d354);
  stroke: var(--color-6, #e4d354);
}

.swatch.highcharts-color-7 {
  background-color: var(--color-7, #2b908f);
}
.highcharts-color-7, .highcharts-data-label-color-7 text {
  fill: var(--color-7, #2b908f);
  stroke: var(--color-7, #2b908f);
}

.swatch.highcharts-color-8 {
  background-color: var(--color-8, #f45b5b);
}
.highcharts-color-8, .dl-series g.highcharts-data-label-color-8 text {
  fill: var(--color-8, #f45b5b);
  stroke: var(--color-8, #f45b5b);
}

.swatch.highcharts-color-9 {
  background-color: var(--color-9, #91e8e1);
}
.highcharts-color-9, .dl-series g.highcharts-data-label-color-9 text {
  fill: var(--color-9, #91e8e1);
  stroke: var(--color-9, #91e8e1);
}
.swatch.highcharts-color-10 {
  background-color: var(--color-10, #91e8e1);
}
.highcharts-color-10, .dl-series g.highcharts-data-label-color-10 text {
  fill: var(--color-10, #91e8e1);
  stroke: var(--color-10, #91e8e1);
}
.swatch.highcharts-color-11 {
  background-color: var(--color-11, #91e8e1);
}
.highcharts-color-11, .dl-series g.highcharts-data-label-color-11 text {
  fill: var(--color-11, #91e8e1);
  stroke: var(--color-11, #91e8e1);
}
.swatch.highcharts-color-12 {
  background-color: var(--color-12, #91e8e1);
}
.highcharts-color-12, .dl-series g.highcharts-data-label-color-12 text {
  fill: var(--color-12, #91e8e1);
  stroke: var(--color-12, #91e8e1);
}

.column.data-labels-inside .highcharts-data-label,
.bar.data-labels-inside .highcharts-data-label {
  fill: #fff;
}


.highcharts-data-label-color-4.highcharts-data-label text, 
.highcharts-data-label-color-5.highcharts-data-label text {
  
   .gray &, 
   .pew-blue &,
   .turquoise &,
   .teal &,
   .orange &,
   .red &,
   .green &,
   .pink &,
   .purple &, 
   .yellow &  {
    fill: #000;
  }
}


/* for brand palette, teal, yellow, and light gray need to be black at all times */
.brand .highcharts-data-label-color-5.highcharts-data-label text,
.brand .highcharts-data-label-color-2.highcharts-data-label text,
.brand .highcharts-data-label-color-11.highcharts-data-label text {
  fill: #000;
}

